<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">./tests/Functional</directory>
        </testsuite>
        <testsuite name="unit-new">
            <directory suffix="Test.php">./tests-new/Unit</directory>
        </testsuite>
        <testsuite name="functional-new">
            <directory suffix="Test.php">./tests-new/Functional</directory>
        </testsuite>
        <testsuite name="test">
            <directory suffix="Test.php">./tests-new/Functional/BasicQueryTest</directory>
            <directory suffix="Test.php">./tests-new/Unit/DependencyInjection</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./Command</directory>
            <directory>./Configuration</directory>
            <directory>./DependencyInjection</directory>
            <directory>./Encryptors</directory>
            <directory>./Subscribers</directory>
        </include>
    </coverage>

    <php>
        <ini name="error_reporting" value="E_ALL" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>
</phpunit>
